<!DOCTYPE html>
<html>
<head>
    <title>Tate Node Visualiser</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="js/addLink.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <h1>Tate Node Visualiser</h1>

    <div id="instructions" class="infoPanel">
        <a href="tateInstructionsAddLink.html" target="_blank"><img src="images/info.png"></a>
    </div>

    <div id="addLink" class="title">
        <h2>Add Link</h2>
        <h3>Graph - <span id="graphName"><%= graphName %></span></h3>
        <form id="addLinkForm" class="form-horizontal" action="/processAddNewLink" method="post" autocomplete="off">
            <div class="form-group">
                <label for="graphID" class="col-md-1">Graph ID</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="graphID" id="graphID" value="<%= graphID %>">
                </div>
            </div>
            <div class="form-group">
                <label for="fromNodeName" class="col-md-1">From Node Name</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="fromName" id="fromNodeName">
                </div>
                <label for="fromNodeType" class="col-md-1">From Node Type</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="fromType" id="fromNodeType">
                </div>
            </div>
            <div class="form-group">
                <label for="toNodeName" class="col-md-1">To Node Name</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="toName" id="toNodeName">
                </div>
                <label for="toNodeType" class="col-md-1">To Node Type</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="toType" id="toNodeType">
                </div>
            </div>
            <div class="form-group">
                <label for="linkType" class="col-md-1">Link Type</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="linkType" id="linkType">
                </div>
            </div>
        </form>
        <button id="addNewLink" type="button" class="btn btn-primary">Add Link</button>
    </div>
    <span id="addStatus" class="label label-success"></span>

    <div class="title">
        <button id="backToModify" type="submit" class="btn btn-primary">Modify Graph</button>
    </div>
    <form method="get" action="/showGraphs">
        <div class="form-group title">
            <button id="home" type="submit" class="btn btn-primary">Home</button>
        </div>
    </form>
</body>
</html>