<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/jquery.form.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
      <script type="text/javascript" src="js/MapManager.js"></script>
      <script type="text/javascript" src="js/addNode.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">

  </head>
  <body>
    <div class="indent">
        <h1>Tate Cartography Project</h1>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateVideoInstructions.html" target="_blank"><img src="images/info.png"></a>
    </div>

    <div id="addNode" class="indent">
        <h2>Add Content</h2>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 subTitle">
                    <p>Overview Name - <span id="mapName"><%= mapName %></span></p>
                </div>
                <div class="col-md-offset-1 col-md-2 plusOption">
                    <span>Add more input boxes </span><button id="addContent" type="button" class="btn btn-primary"><img src="images/add.png"></button>
                </div>
            </div>
        </div>

        <form id="addNodeForm" class="form-horizontal" action="/processAddNewNode" method="post" autocomplete="off">
            <div class="form-group">
                <input type="text" class="form-control noDisplay" name="mapID" id="mapID" value="<%= mapID %>">
                <input type="text" class="noDisplay" name="author" id="author">
            </div>
            <div class="form-group">
                <label class="col-md-1 control-label">Content</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="addNodeName0" id="addNodeName0">
                    </div>
                    <div class="col-md-1 contentFeedback">
                        <span id="addStatus0" class="label label-success"></span>
                        <span id="waitStatus0" class="label label-warning noDisplay">Waiting...</span>
                        <span id="errorStatus0" class="label label-danger noDisplay">Node not added</span>
                    </div>
            </div>
            <div class="form-group">
                    <label class="col-md-1 control-label">Content Type</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="addNodeType0" id="addNodeType0">
                    </div>
            </div>
        </form>
        <p>
            Enter a name for the item that you would like to add and then an associated type.<br>
            As you enter the type name a list of current types will appear. You may enter a completely new type.
        </p>
        <div class="feedback">
            <button id="addNewNode" type="button" class="btn btn-primary">Add</button>
        </div>
    </div>

    <div class="indent options">
        <button id="backToModify" type="submit" class="btn btn-primary">Modify Overview</button>

        <div>
            <button id="backToViews" type="submit" class="btn btn-primary">Back To Overviews</button>
        </div>
    </div>

  </body>
</html>

