<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/addNode.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">

  </head>
  <body>
    <h1>Tate Node Visualiser</h1>

    <div id="addNode" class="title">
        <h3>Add Node</h3>
        <form id="addNodeForm" class="form-horizontal" action="http://127.0.0.1:3000/addNewNode" method="post">
            <div class="form-group">
                <label for="graphID" class="col-md-1 control-label">Graph ID</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="graphID" id="graphID">
                </div>
            </div>
            <div class="form-group">
                <label for="addNodeName" class="col-md-1 control-label">Node Name</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="addNodeName" id="addNodeName">
                    </div>
            </div>
            <div class="form-group">
                    <label for="addNodeType" class="col-md-1 control-label">Node Type</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="addNodeType" id="addNodeType">
                    </div>
            </div>
            <div class="form-group">
                <label for="addNewType" class="col-md-1 control-label">New Node Type</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="addNewType" id="addNewType">
                </div>
            </div>
        </form>
        <button id="addNewNode" type="button" class="btn btn-primary">Add</button>
    </div>
    <span id="addStatus" class="label label-success"></span>
  </body>
</html>

