<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cartography Account Created</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <h1>Cartography Account Created</h1>

    <div class="title">
        <p>
            Congratulations, you now have a Tate Cartography account!
        </p>
        <p>
            Your username is , you can use this to log in and identify your graphs.
        </p>
        <a href="/"><button type="button" class="btn btn-primary">Sign In</button></a>
    </div>
</body>
</html>