<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/MapManager.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/createViewFrom.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <div class="title">
        <h1>Tate Cartography Visualisation</h1>
    </div>

    <div class="title">
        <h2>Create View From Existing Map</h2>
        <p>
            You have chosen to create a new view from an existing map.<br>
            Enter a name for this view below and an optional description.
        </p>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateInstructionsShow.html" target="_blank"><img src="images/info.png"></a>
    </div>

  </body>
</html>
