<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/MapManager.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/createViewFrom.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <div class="title">
        <h1>Tate Cartography Visualisation</h1>
    </div>

    <div class="title">
        <h2>Create View From Existing Map</h2>
        <p>
            You have chosen to create a new view from an existing map.<br>
            Enter a name for this view below and an optional description.
        </p>
    </div>

    <div class="title viewOptions">
        <form class="form-horizontal" ref='newViewForm' id="newViewForm" method="post" action="/processCopyGraph" enctype="multipart/form-data">
            <div class="form-group">
                <label for="mapName" class="col-md-1 control-label">Map Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="mapName" id="mapName">
                </div>
            </div>
            <div class="form-group">
                <label for="mapDescription" class="col-md-1 control-label">Description</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="mapDescription" id="mapDescription">
                </div>
            </div>
            <input type="text" class="noDisplay" name="author" id="author">
        </form>
        <button type="button" class="btn btn-primary" id="createViewFrom">Create View</button>
    </div>

    <div class="indent">
        <h3 id="mapStatus"></h3>
    </div>

    <div class="indent">
        <button id="myViews" type="button" class="btn btn-primary">My Views</button>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateInstructionsShow.html" target="_blank"><img src="images/info.png"></a>
    </div>

  </body>
</html>
