<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/jquery.form.js"></script>
      <script type="text/javascript" src="js/socket.io.js"></script>
      <script type="text/javascript" src="js/MapManager.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/createViewFrom.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <div class="indent">
        <h1>Tate Cartography Project</h1>
    </div>

    <div class="indent">
        <h2>Create Map From Timeline</h2>
        <h3>Current Map - <span id="mapName"></span></h3>
        <p>
            You have chosen to create a new view from an existing map.<br>
            Enter a name for this view below and an optional description.
        </p>
    </div>

    <div class="indent viewOptions">
        <form class="form-horizontal" ref='newViewForm' id="newViewForm" method="post" action="/processRollBack" enctype="multipart/form-data">
            <div class="form-group">
                <label for="mapName" class="col-md-1 control-label">Map Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="mapName" id="mapName">
                    <input type="text" class="noDisplay" name="mapID" id="mapID">
                    <input type="text" class="noDisplay" name="editID" id="editID">
                </div>
            </div>
            <div class="form-group">
                <label for="mapDescription" class="col-md-1 control-label">Description</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="mapDescription" id="mapDescription">
                </div>
            </div>
            <input type="text" class="noDisplay" name="author" id="author">
        </form>
    </div>

    <div class="feedback">
        <button type="button" class="col-md-offset-1 btn btn-primary" id="createViewFrom">Create Map</button>
        <span id="mapStatus" class="label label-success"></span>
    </div>

    <form method="get" action="/showGraphs">
        <div class="form-group indent">
            <button id="backToViews" type="button" class="btn btn-primary">Back To Maps</button>
        </div>
    </form>

    <div id="instructions" class="infoPanel">
        <a href="tateVideoInstructions.html" target="_blank"><img src="images/info.png"></a>
    </div>

  </body>
</html>
