<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/jquery.form.js"></script>
      <script type="text/javascript" src="js/socket.io.js"></script>
      <script type="text/javascript" src="js/MapManager.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/createView.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <div class="indent">
        <h1>Tate Cartography Visualisation</h1>
    </div>

    <div class="indent">
        <h2>Create New View</h2>
        <p>
            You can create an empty new view that you may modify via the interface later or
            you can create a new view from a csv (comma separated values) file.<br>
            Give your map a name and an optional description. If you want to use a file then you can choose this below.<br>
            If you just want to create an empty view then just click Create.
        </p>
    </div>

    <div class="indent viewOptions">
        <form class="form-horizontal" ref='uploadForm' id="uploadForm" method="post" action="/processCreateGraph" enctype="multipart/form-data">
            <div class="form-group">
                <label for="mapName" class="col-md-1 control-label">Map Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="mapName" id="mapName">
                </div>
            </div>
            <div class="form-group">
                <label for="mapDescription" class="col-md-1 control-label">Description</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="mapDescription" id="mapDescription">
                </div>
            </div>
            <input type="file" name="vizFile">
            <input type="text" class="noDisplay" name="author" id="author">
        </form>
        <button type="button" class="btn btn-primary" id="createView">Create view</button>
    </div>

    <div class="indent">
        <h3>View Status : <span id="mapStatus" class="label label-success"></span></h3>
        <div class="container-fluid viewProperties">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p>Nodes to create : <span id="nodesToCreate"></span></p>
                </div>
                <div class="col-md-3">
                    <p>Created :  <span class="label label-primary">Nodes <span id="nodesCreated" class="badge"></span></span></p>
                </div>
                <div class="col-md-5">
                    &nbsp
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p>Links to create : <span id="linksToCreate"></span></p>
                </div>
                <div class="col-md-3">
                    <p>Created : <span class="label label-primary">Edges <span id="linksCreated" class="badge"></span></span> </p>
                </div>
                <div class="col-md-5">
                    &nbsp
                </div>
            </div>
        </div>
    </div>

    <div id="mapCompleted" class="indent noDisplay">
        <p>
            Your new view has been created!<br>
            You can see this in your list of views if you click the button below.<br>
            You can also create more views if you like.
        </p>
    </div>

    <div class="indent">
        <button id="myViews" type="button" class="btn btn-primary">My Views</button>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateInstructionsShow.html" target="_blank"><img src="images/info.png"></a>
    </div>

  </body>
</html>
