<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tate Node Visualiser - Delete Node</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="js/MapManager.js"></script>
    <script type="text/javascript" src="js/deleteNode.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <div class="indent">
        <h1>Tate Cartography Project</h1>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateVideoInstructions.html" target="_blank"><img src="images/info.png"></a>
    </div>

    <div id="deleteNode" class="indent options">
        <h2>Delete Node</h2>
        <h3>Map Name - <span id="mapName"><%= mapName %></span></h3>
        <form id="findNodesForm" class="form-horizontal" action="/processFindNodes" method = "post" autocomplete="off">
            <div class="form-group">
                <div class="col-md-5">
                    <input type="text" class="form-control noDisplay" name="mapID" id="mapID" value="<%= mapID %>">
                </div>
            </div>
            <div class="form-group">
                <label for="node_Name" class="col-md-1 control-label">Node Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="nodeValue" id="node_Name" value="<%= node_Name %>">
                </div>
            </div>
            <button id="find" type="button" class="btn btn-primary">Find</button>
        </form>
    </div>

    <div id="nodes" class="indent noDisplay">
        <h3>Nodes</h3>
        <p id="numNodes">

        </p>
        <div id="nodeList" class="container-fluid">

        </div>
        <div class="feedback">
            <button id="nodeDelete" type="button" class="btn btn-primary">Delete</button>
            <span id="addStatus" class="label label-success"></span>
        </div>
    </div>

    <div class="indent options">
        <button id="backToModify" type="button" class="btn btn-primary">Modify Map</button>

        <div>
            <button id="backToViews" type="submit" class="btn btn-primary">Back To Maps</button>
        </div>
    </div>

</body>
</html>