<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tate Node Visualiser - Delete Link</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="js/MapManager.js"></script>
    <script type="text/javascript" src="js/deleteLink.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <div class="indent">
        <h1>Tate Cartography Project</h1>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateVideoInstructions.html" target="_blank"><img src="images/info.png"></a>
    </div>

    <div id="deleteLink" class="indent">
        <h2>Delete Link</h2>
        <h3>Overview Name - <span id="mapName"><%= mapName %></span></h3>
        <p>
            Enter the names of the items that are currently linked and then click the Delete button.<br>
            As you start typing a list of suggestions will appear.
        </p>
        <form id="deleteLinkForm" class="form-horizontal" action="/processDeleteLink" method = "post" autocomplete="off">
            <div class="form-group">
                <div class="col-md-5">
                    <input type="text" class="form-control noDisplay" name="mapID" id="mapID" value="<%= mapID %>">
                    <input type="text" class="noDisplay" name="author" id="author">
                </div>
            </div>
            <div class="form-group">
                <label for="node_FromName" class="col-md-1 control-label">From</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="node_FromName" id="node_FromName">
                </div>
            </div>
            <div class="form-group">
                <label for="node_ToName" class="col-md-1 control-label">To</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="node_ToName" id="node_ToName">
                </div>
            </div>
            <div id="linkNameContainer" class="form-group noDisplay">
                <label for="linkName" class="col-md-1 control-label">Link name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="linkName" id="linkName">
                </div>
            </div>
        </form>
    </div>

    <div id="nodes" class="indent feedback">
        <button id="linkDelete" type="button" class="btn btn-primary">Delete</button>
        <span id="addStatus" class="label label-success"></span>
    </div>

    <div class="indent options">
        <button id="backToModify" type="button" class="btn btn-primary">Modify Overview</button>

        <div>
            <button id="backToViews" type="button" class="btn btn-primary">Back To Overviews</button>
        </div>
    </div>

</body>
</html>