<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tate Node Visualiser - Delete Link</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="js/MapManager.js"></script>
    <script type="text/javascript" src="js/deleteLink.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <div class="title">
        <h1>Tate Node Visualiser</h1>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateInstructionsDeleteLink.html" target="_blank"><img src="images/info.png"></a>
    </div>

    <div id="deleteLink" class="title">
        <h2>Delete Link</h2>
        <h3>Map - <span id="mapName"><%= mapName %></span></h3>
        <form id="deleteLinkForm" class="form-horizontal" action="/processDeleteLink" method = "post" autocomplete="off">
            <div class="form-group">
                <label for="mapID" class="col-md-1 control-label">Graph ID</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="mapID" id="mapID" value="<%= mapID %>">
                    <input type="text" class="noDisplay" name="author" id="author">
                </div>
            </div>
            <div class="form-group">
                <label for="node_FromName" class="col-md-1 control-label">From Node Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="node_FromName" id="node_FromName">
                </div>
            </div>
            <div class="form-group">
                <label for="node_ToName" class="col-md-1 control-label">To Node Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="node_ToName" id="node_ToName">
                </div>
            </div>
            <div class="form-group">
                <label for="linkName" class="col-md-1 control-label">Link Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="linkName" id="linkName">
                </div>
            </div>
        </form>
    </div>

    <div id="nodes" class="title">
        <button id="linkDelete" type="button" class="btn btn-primary">Delete</button>
    </div>

    <div>
        <p id="addStatus" class="label label-success"></p>
    </div>

    <div class="title">
        <button id="backToModify" type="submit" class="btn btn-primary">Modify Map</button>
    </div>
    <form method="get" action="/showGraphs">
        <div class="form-group title">
            <button id="home" type="submit" class="btn btn-primary">Home</button>
        </div>
    </form>
</body>
</html>