<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tate Node Visualiser - Delete Node</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="js/deleteNode.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <h1>Tate Node Visualiser</h1>

    <div id="deleteNode" class="title">
        <h2>Delete Node</h2>
        <h3>Graph - <span id="graphName"><%= graphName %></span></h3>
        <form id="searchForm" class="form-horizontal" action="/findNodes" method = "post" autocomplete="off">
            <div class="form-group">
                <label for="graphID" class="col-md-1 control-label">Graph ID</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="graphID" id="graphID" value="<%= graphID %>">
                </div>
            </div>
            <div class="form-group">
                <label for="node_Name" class="col-md-1 control-label">Node Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="nodeValue" id="node_Name" value="<%= node_Name %>">
                </div>
            </div>
            <button id="find" type="button" class="btn btn-primary">Find</button>
        </form>
    </div>

    <div id="nodes" class="title">
        <h3>Nodes</h3>
        <p id="numNodes">

        </p>
        <div id="nodeList" class="container-fluid">

        </div>
        <button type="button" class="btn btn-primary">Delete</button>
    </div>
    <div class="title">
        <button id="backToModify" type="submit" class="btn btn-primary">Modify Graph</button>
    </div>
    <form method="get" action="/showGraphs">
        <div class="form-group title">
            <button id="home" type="submit" class="btn btn-primary">Home</button>
        </div>
    </form>
</body>
</html>