<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tate Login</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.form.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/loginManager.js"></script>
    <script type="text/javascript" src="js/login.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <div class="indent">
        <h1>Welcome to the Tate Cartography Project</h1>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateVideoInstructions.html" target="_blank"><img src="images/info.png"></a>
    </div>

    <div id="login" class="indent">
        <h3>Sign in to your account</h3>
        <form id="loginForm" class="form-horizontal" action="/processLogin" method="post">
            <div class="form-group">
                <label for="userName" class="col-md-1 control-label">Username</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="userName" name="userName">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-md-1 control-label">Password</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-5">
                    <div class="checkbox">
                        <label>
                            <input id="rememberMe" type="checkbox" checked>Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-1 col-md-5">
                    <button id="signIn" type="button" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-offset-1 col-md-5">
        <button id="createAccount" type="button" class="btn btn-primary">Create Account</button>
    </div>

    <div id="noSuchUser" class="noDisplay infoPanel">
        <p class="warningText">
            There is no record of that user!<br>
            Please re-type your username or create an account
        </p>
    </div>

</body>
</html>