<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/tateExpressViz.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">

  </head>
  <body>
    <h1>Tate Node Visualiser</h1>

    <div id="createGraph">
        <h2>Create Graph</h2>
        <button type="button" id="create" class="btn btn-primary">New Graph</button>
        <p><br>Graph ID: <span id="graphID">Not generated</span></p>
    </div>

    <div id="generateGraph">
        <h2>Generate Graph</h2>
        <form ref='uploadForm' id="uploadForm" method="post" action="http://127.0.0.1:3000/processUpload" enctype="multipart/form-data">
            <input type="file" name="vizFile">
        </form>
        <br>
        <button type="button" class="btn btn-primary" id="generate">Generate graph</button>
    </div>

    <div id="modifyGraph">
        <h2>Modify Graph</h2>
        <form action="http://127.0.0.1:3000/process_search" method = "POST">
            Graph id: <input type="text" name="graph_id"> <br>
            Node name: <input type="text" name="nodeValue">
            <input type = "submit" value="Search">
        </form>
    </div>
  </body>
</html>
