<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script src="http://malsup.github.com/jquery.form.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script type="text/javascript" src="js/socketManager.js?v=0.1"></script>
      <script type="text/javascript" src="js/tateExpressViz.js"></script>

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">

  </head>
  <body>
    <h1>Tate Node Visualiser</h1>

    <div id="createGraph" class="title">
        <h2>Create Graph</h2>
        <button type="button" id="create" class="btn btn-primary">New Graph</button>
        <p><br>Graph ID: <span id="graphID">Not generated</span></p>
    </div>

    <div id="generateGraph" class="title">
        <h2>Generate Graph</h2>
        <form ref='uploadForm' id="uploadForm" method="post" action="http://127.0.0.1:3000/generateGraph" enctype="multipart/form-data">
            <input type="file" name="vizFile">
        </form>
        <br>
        <button type="button" class="btn btn-primary" id="generate">Generate graph</button><span id="graphStatus"></span>
    </div>

    <div id="graphProperties" class="title">
        <h2>Graph Properties</h2>
        <div id="properties" class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p>Nodes to create : <span id="nodesToCreate"></span></p>
                </div>
                <div class="col-md-3">
                    <p>Created :  </p>
                </div>
                <div class="col-md-5">
                    &nbsp
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p>Edges to create : <span id="edgesToCreate"></span></p>
                </div>
                <div class="col-md-3">
                    <p>Created : <span class="label label-primary">Edges <span id="edgesCreated" class="badge"></span></span> </p>
                </div>
                <div class="col-md-5">
                    &nbsp
                </div>
            </div>
        </div>
        <div id="completed" class="noDisplay">
            <p class="label label-success">Graph completed!</p>
        </div>
    </div>
  </body>
</html>
