<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/mergeGraphs.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <h1>Tate Cartography Visualisation</h1>

    <div class="title merge">
        <h2>Merge Graphs</h2>
        <p>Graph Name : <span id="graphName"></span></p>
    </div>

    <div class="title merge">
        <p>Select the graphs to merge with yours :-</p>
    </div>

    <div id="graphList" class="container-fluid">

    </div>

    <div class="title">
        <p>
            <button type="button" class="btn btn-primary">Merge</button>
        </p>
    </div>

    <form method="get" action="/showGraphs">
        <div class="form-group title">
            <button type="submit" class="btn btn-primary">Home</button>
        </div>
    </form>

  </body>
</html>
