<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/mergeViews.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <div class="indent">
        <h1>Tate Cartography Visualisation</h1>
    </div>

    <div class="indent merge">
        <h2>Merge Views</h2>
        <p>
            Select the map that you would like these views to be merged into.<br>
            You can merge them into a new map or into an existing one of your own.
        </p>
        <p>
            If you want to create a new map then fill in the details below.<br>
            If you want to merge into a view of your own then select the map from the list of
            your views.<br>
            Then click the Next button.
        </p>
    </div>



  </body>
</html>
