<!DOCTYPE html>
<html>
<head>
    <title>Tate Node Visualiser</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">

</head>
<body>
    <h1>Tate Node Visualiser</h1>

    <div id="modifyGraph" class="title">
        <h2>Modify Graph</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="graphID" class="col-md-1 control-label">Graph ID</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="graphID">
                </div>
            </div>
        </form>
    </div>

</body>
</html>
