<!DOCTYPE html>
<html>
    <head>
        <title>Tate Node</title>

        <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/modifyGraph.js"></script>

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel='stylesheet' href="css/tateExpressStyles.css">

    </head>
    <body>
        <h1>Tate Cartography Visualisation</h1>

        <div id="modifyGraph" class="title">
            <h2>Modify Graph</h2>
            <p>Graph ID : <span id="graphID"></span></p>
            <p>Name : <span id="graphName"></span></p>
        </div>

        <div id="options" class="container-fluid">
            <div class="row">
                <div class="col-md-1">
                    <form method="post" action="/updateNode">
                        <div id="updateNode" class="form-group">
                            <input type="text" name="updateNodeGraphID" class="getGraphID noDisplay">
                            <input type="text" name="updateNodeGraphName" class="getGraphName noDisplay">
                            <button id="update" type="submit" class="btn btn-primary">Update Node</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <form method="post" action="/addNode">
                        <div id="addNode" class="form-group">
                            <input type="text" name="addNodeGraphID" class="getGraphID noDisplay">
                            <input type="text" name="addNodeGraphName" class="getGraphName noDisplay">
                            <button id="nodeAdd" type="submit" class="btn btn-primary">Add Node</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <form method="post" action="/addLink">
                        <div id="addLink" class="form-group">
                            <input type="text" name="addLinkGraphID" class="getGraphID noDisplay">
                            <input type="text" name="addLinkGraphName" class="getGraphName noDisplay">
                            <button id="linkAdd" type="submit" class="btn btn-primary">Add Link</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <form method="post" action="/deleteNode">
                        <div id="deleteNode" class="form-group">
                            <input type="text" name="deleteNodeGraphID" class="getGraphID noDisplay">
                            <input type="text" name="deleteNodeGraphName" class="getGraphName noDisplay">
                            <button id="nodeDelete" type="submit" class="btn btn-primary">Delete Node</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-1">
                    <form method="post" action="/deleteLink">
                        <div id="deleteLink" class="form-group">
                            <input type="text" name="deleteLinkGraphID" class="getGraphID noDisplay">
                            <input type="text" name="deleteLinkGraphName" class="getGraphName noDisplay">
                            <button id="linkDelete" type="submit" class="btn btn-primary">Delete Link</button>
                        </div>
                    </form>
                </div>
            </div>

            <form method="get" action="/showGraphs">
                <div class="form-group">
                    <button id="home" type="submit" class="btn btn-primary">Home</button>
                </div>
            </form>

        </div>

    </body>
</html>
