<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/MapManager.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/showViews.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <div class="indent">
        <h1>Tate Cartography Visualisation</h1>
    </div>

    <div class="indent">
        <h2>Perspectives for <span id="authorName"></span></h2>

        <div id="mapList" class="container-fluid options">
            <div class="row columnTitle">
                <div class="col-md-3">
                    <p>Maps</p>
                </div>
                <div class="col-md-3">
                    <p>Action</p>
                </div>
            </div>
        </div>
    </div>

    <div class="indent options">
        <p>
            Click on the map name to see the visualisation (this will open in a new window).
        </p>
        <p>
            Select an action from the list above to modify or delete the relevant view.
        </p>
        <p>
            If you'd like to create a new map or merge existing ones, then explore the options below.
        </p>
        <div>
            <button id="createView" type="button" class="btn btn-primary">Create</button>
            <button id="mergeViews" type="button" class="btn btn-primary">Merge</button>
        </div>
    </div>

    <form method="get" action="/showGraphs">
        <div class="form-group indent">
            <button type="submit" class="btn btn-primary">All Views</button>
        </div>
    </form>

    <div id="instructions" class="infoPanel">
        <a href="tateInstructionsShow.html" target="_blank"><img src="images/info.png"></a>
    </div>

  </body>
</html>
