<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tate Node Visualiser</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/MapManager.js"></script>
    <script type="text/javascript" src="js/showTimeLine.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">
    
</head>
<body>
    <div class="indent">
        <h1>Tate Cartography Visualisation</h1>
    </div>

    <div class="indent">
        <h2>Map Timeline</h2>
        <p>
            The following table lists all the changes that have been made to this map since it was created.<br>
            You can create a new perspective from any point in its history by clicking on the Create View button.
        </p>
    </div>

    <div class="indent columnTitle">
        <p id="mapName"></p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <table id="editsTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Author</th>
                        <th>Time</th>
                        <th>Action</th>
                        <th>Node</th>
                        <th>Node</th>
                        <th>Type</th>
                        <th>Response</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="indent">
        <button id="myViews" type="button" class="btn btn-primary">Back To Views</button>
    </div>


</body>
</html>