<!DOCTYPE html>
<html>
  <head>
      <title>Tate Node Visualiser</title>

      <!-- build:js js/tateExpressViz.min.js -->
      <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
      <script type="text/javascript" src="js/MapManager.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/showGraphs.js"></script>
      <!-- endbuild -->

      <!-- build:css css/tatestyles.min.css-->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/bootstrap-theme.min.css">
      <link rel='stylesheet' href="css/tateExpressStyles.css">
      <!-- endbuild -->

  </head>
  <body>
    <div class="indent">
        <h1>Tate Cartography Visualisation</h1>
    </div>

    <div class="indent">
        <h2>Current Tate Perspectives</h2>
        <p>
            The following authors have perspectives that are available to view: -
        </p>
        <div id="graphList" class="container-fluid options">
            <div class="row columnTitle">
                <div class="col-md-3">
                    <p>Username</p>
                </div>
                <div class="col-md-3">
                    <p>Action</p>
                </div>
            </div>
        </div>
    </div>

    <div class="indent">
        <p>
            Select an action from the list above to view the relevant perspective.
        </p>
        <p>
            Examine your own perspectives from the options below.
        </p>
    </div>

    <div class="indent">
        <button id="myViews" type="button" class="btn btn-primary">Show My Views</button>
    </div>

    <div id="instructions" class="infoPanel">
        <a href="tateVideoInstructions.html" target="_blank"><img src="images/info.png"></a>
    </div>

  </body>
</html>
