<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tate Node Visualiser</title>

    <script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/timeLineGraph.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel='stylesheet' href="css/tateExpressStyles.css">
    
</head>
<body>
    <h1>Tate Cartography Visualisation</h1>

    <div id="graphDetails" class="title columnTitle">
        <p>Graph Name</p>
        <p id="graphName"><span id="graphErrorStatus"></span></p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <table id="editsTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Author</th>
                        <th>Time</th>
                        <th>Action</th>
                        <th>Node</th>
                        <th>Node</th>
                        <th>Type</th>
                        <th>Response</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <form method="get" action="/showGraphs">
        <div class="form-group title">
            <button type="submit" class="btn btn-primary">Home</button>
        </div>
    </form>

</body>
</html>