/* Framework styles */

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
/* Place floating panels */
#instructions {
    top: 2%;
    left: 45%;
}
#instructions img {
    width: 40%;
}
#noSuchUser {
    left: 20%;
    top: 26%;
}


.title {
    margin: 0 1%;
}
.contentContainer {
    margin-left: 9.25%;
}
.warningText {
    color: red;
}
.columnTitle p {
    font-size: 1.1vw;
    font-weight: bold;
}
.infoContent {
    margin-top: 1%;
    margin-bottom: 1%;
}
.infoContent button {
    margin-bottom: 1.5%;
    margin-right: 1.5%;
}