/* Framework styles */

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
/* Place floating panels */
#instructions {
    top: 2%;
    left: 45%;
}
#instructions img {
    width: 40%;
}
#noSuchUser {
    left: 20%;
    top: 26%;
}
.indent {
    margin: 0 1%;
}
.contentContainer {
    margin-left: 9.25%;
}
.warningText {
    color: red;
}
.columnTitle p {
    font-size: 1.1vw;
    font-weight: bold;
}
.feedback {
    margin-bottom: 1%;
}
.feedback span {
    font-size: 0.9vw;
    margin-left: 1%;
}
.viewOptions button {
    margin: 1% 1% 1% 0;
}
.viewProperties p {
    font-size: 1.1vw;
}
#mapCompleted {
    margin-top: 2%;
}
#mapCompleted p {
    font-size: 1.0vw;
}
.options button {
    margin-bottom: 1%;
    margin-right: 1%;
}
.listings li {
    font-size: 0.95vw;
}
.listings span {
    font-size: 1.0vw;
    vertical-align: middle;
}
.modifyOptions {

}
.modifyOptions button {
    width: 90%;
    font-size: 1.25vw;
}